extends base

block content
 .col-md-9
  h3 nodes
  ul
   each node in nodes
    li
     |!{node}
     a(href='/admin.cgi/node/del/'+node) [x]
  form(action='/admin.cgi/node' method='post')
   input(name="node" type="text")
   button(type="submit") Add
  h3 friends
  ul
   each node in friends
    li
     |!{node}
  h3 threads
  ul
   each thread in x
    li
     a(href="/admin.cgi/new/"+thread.node+"/"+thread.file) #{thread.title} (#{thread.node})
 .col-md-3
  a(href="/admin.cgi/refresh") refresh