html
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/gateway.cgi/honoka/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/gateway.cgi/__merged.css")
    block scripts
  body
   header
    .navbar.navbar-default
     .container
      .navbar-header
        a.navbar-brand(href="/") 新月
      .collapse.navbar-collapse
   .container
     h1 #{title}
     block content