html
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="http://cdn.honokak.osaka/umi/3.3.4a/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/gateway.cgi/__merged.css")
  body
   header
    .navbar.navbar-default
     .container
      .navbar-header
        a.navbar-brand(href="/") 新月
   .container
     h1 #{title}
     block content
   block scripts
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js").
    script(type="text/javascript" src="http://cdn.honokak.osaka/umi/3.3.4a/css/bootstrap.min.js").