doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="https://cdn.honokak.osaka/umi/3.3.5a/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/__merged.css")
    link(rel="alternate" type="application/rss+xml" href="/gateway.cgi/rss" title="RSS2.0")
  body
   header
    .navbar.navbar-default
     .container
      .navbar-header
        a.navbar-brand(href="/") 新月
   .container
     h1 #{title}
     .col-md-2
      block lside
     .col-md-7
      block content
     .col-md-3
      block rside
   block scripts
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js" integrity="sha384-fjThiGz46iluQSUrT72asLp107ZKlIZR8vvVdaeHsEmLlySEPhKvktuTNj0wtHIH" crossorigin="anonymous")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/hogan.js/3.0.2/hogan.min.js" integrity="sha384-4s1wOXoPizqgXDR9ceVD5JFY9kD1rW2FCJkGdLPNTOn9CxeMvVRYVOIPb4LEdmFT" crossorigin="anonymous")
    script(type="text/javascript" src="/js/base.js")
    script(type="text/javascript" src="https://cdn.honokak.osaka/umi/3.3.5a/js/bootstrap.min.js")