extends base

block append scripts
 script(type="text/javascript").
  window.onload=function(){document.getElementById("cmd").value="post";};

block content
    form(method="post",action="/test/bbs.cgi")
     input(type="hidden",name="cmd",id="cmd")
     input(type="hidden",value=file,name="file")
     input(type="text",name="mail")
     input(type="text",name="name")
     textarea(name="body")
     input(type="submit",value="add")
    ul
     each msg in messages
      li= msg.content