html
  head
    title #{title}
  body
    h1 #{title}
    form(method="post",action="/test/bbs.cgi")
     input(type="hidden",value="post",name="cmd")
     input(type="hidden",value=file,name="file")
     input(type="text",name="mail")
     input(type="text",name="name")
     textarea(name="body")
     input(type="submit",value="add")
    ul
     each msg in messages
      li= msg.content