html
  head
    meta(charset="utf-8")
    title 新月
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/__merged.css")
  body
    aside#header.navbar-collapse
     ul.nav.navbar-nav
      li
       a(href="/") トップ
      li
       a(href="/gateway.cgi/changes") 最終更新
      li
       a(href="http://www.shingetsu.info/") 公式サイト
      li
       a(href="/gateway.cgi/motd") ネットワーク利用規約
      li
       a(href="/2ch/subject.txt") 2chブラウザ
      li
       a(href="/gateway.cgi/rss") RSS
    .container
     h1 新月
     h2 タグ
     #tags
       each tag in tags
         a(href="/gateway.cgi/changes?tag="+tag) #{tag}
     h2 スレッド
     ul
       each thread in threads
         li
           a(href=thread.link) #{thread.title} (#{thread.num})