extends base

block append scripts
 script(type="text/javascript").
  window.onload=function(){document.getElementById("cmd").value="post";};
 script(type="text/javascript" src="/js/index.js")

block content
    .container
    .col-md-3
     h1 タグ
     #tags
       each tag in tags
         a(href="/gateway.cgi/changes?tag="+tag) #{tag}
    .col-md-6
     h1 スレッド
     ul(id="threads")
       each thread in threads
         .card
          .card-block
           a.card-title(href="/thread.cgi/"+thread.title) #{thread.title}
           .card-text #{thread.records}comments
     script(type="text/template",id="tmpl")
      |{{#ts}}
      .card
       .card-block
        a.card-title(href="/thread.cgi/{{t}}") {{t}}
        .card-text {{r}}comments
      |{{/ts}}
     a(id="changes") その他
    .col-md-3
     h1 リンク
     h2
      ul
       li
        a(href="/admin.cgi") admin
       li
        a(href="http://www.shingetsu.info/") 公式サイト
       li
        a(href="/2ch/subject.txt") 2chブラウザ
       li
        a(href="/gateway.cgi/rss") RSS
       li
        a(href="/gateway.cgi/motd") 利用規約
     h1 新規スレッド
     form.well(method="post",action="/gateway.cgi/new")
       input(type="hidden",name="cmd",id="cmd")
       input.form-control(type="text",name="title",placeholder="title")
       button.btn.btn-primary(type="submit") Create
       p 注意：新月では新スレより既存のスレを利用する場合が多いです。スレ立ては本当にスレ立てする必要があるか今あるスレで十分ではないかよく考えてから行いましょう｡